# Question 1

In [9]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [10]:
b()

In [11]:
a

2

In [12]:
b()

In [13]:
c(2)

4

In [ ]:
b()

In [14]:
c(4)

6

In [15]:
a

4

1. Initial value of a: 0
2. After first b(): a becomes 2
3. After second b(): a becomes 4
4. After third b(): a becomes 6
5. The final output of >>> a is 6.

# Question 2

In [16]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            contents = infile.read()  # Read the contents of the file
            return len(contents)  # Return the length of the contents
    except FileNotFoundError:
        print(f"File {filename} not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

# Example usage:
print(fileLength('midterm.py'))  # Should print the length of the file
print(fileLength('idterm.py'))    # Should print a friendly message

File midterm.py not found.
None
File idterm.py not found.
None

# Question 3

In [17]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

In [18]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  # Initialize the Marsupial part
        self.x = x  # x-coordinate
        self.y = y  # y-coordinate

    def jump(self, dx, dy):
        self.x += dx  # Update x-coordinate
        self.y += dy  # Update y-coordinate

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [19]:
# Create a Marsupial object
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

# Create a Kangaroo object
k = Kangaroo(0, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (0,0)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

# Move the Kangaroo
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (3,0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [13]:
# Create a Marsupial object
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

# Create a Kangaroo object
k = Kangaroo(0, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (0,0)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

# Move the Kangaroo
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (3,0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

In [20]:
def collatz(x):
    print(x)  # Print the current value of x
    if x == 1:
        return  # Base case: if x is 1, stop the recursion
    elif x % 2 == 0:  # Check if x is even
        collatz(x // 2)  # Recursive call with x divided by 2
    else:  # x is odd
        collatz(3 * x + 1)  # Recursive call with 3x + 1

# Example usage:
collatz(1)  
collatz(10)

1
10
5
16
8
4
2
1

# Question 5

In [21]:
def binary(n):
    # Base case: if n is 0, print 0
    if n == 0:
        print(0)
    else:
        # Call the recursive function with n // 2
        if n > 1:  # Only print if n is greater than 1 to avoid printing extra zeros
            binary(n // 2)
        # Print the last digit (n % 2) after the recursive call
        print(n % 2, end='')

# Example usage:
binary(0)  # Output: 0
print()     # Print a newline for better output formatting
binary(1)  # Output: 1
print()
binary(3)  # Output: 11
print()
binary(9)  # Output: 1001

0

1
11
1001

# Question 6

In [16]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()  # Initialize the base class
        self.indent_level = 0  # Initialize indentation level

    def handle_starttag(self, tag, attrs):
        if tag in ('h1', 'h2', 'h3', 'h4', 'h5', 'h6'):
            self.indent_level = int(tag[1]) - 1  # Set indentation level based on heading level

    def handle_endtag(self, tag):
        if tag in ('h1', 'h2', 'h3', 'h4', 'h5', 'h6'):
            self.indent_level = 0  # Reset indentation after closing the heading tag

    def handle_data(self, data):
        if self.indent_level >= 0:  # Print only if it's a heading level
            print(' ' * self.indent_level + data.strip())  # Print with indentation

# Example usage
if __name__ == "__main__":
    # Open and read the HTML file
    with open('w3c.html', 'r') as infile:
        content = infile.read()

    # Create an instance of HeadingParser
    hp = HeadingParser()
    hp.feed(content)  # Feed the HTML content to the parser

Change_me






W3C Mission

 Principles

# Question 7

In [19]:
pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (2.32.3)
Requirement already satisfied: beautifulsoup4 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (4.12.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from requests) (2024.8.30)
Requirement already satisfied: soupsieve>1.2 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4) (2.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\lenovo\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip

In [20]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    # Print the current URL with the specified indentation
    print(' ' * indent + url)
    
    # Base case: if depth is 0, return
    if depth == 0:
        return
    
    try:
        # Fetch the content of the URL
        response = requests.get(url)
        response.raise_for_status()  # Raise an error for bad responses
        html_content = response.text
        
        # Parse the HTML using BeautifulSoup
        soup = BeautifulSoup(html_content, 'html.parser')
        
        # Find all anchor tags and get their href attributes
        links = [a['href'] for a in soup.find_all('a', href=True)]
        
        # Visit each link recursively
        for link in links:
            # Normalize the link to absolute URL if it's relative
            if not link.startswith('http'):
                link = requests.compat.urljoin(url, link)
            webdir(link, depth - 1, indent + 2)  # Increase indentation for child URLs
            
    except requests.exceptions.RequestException as e:
        print(f"Error accessing {url}: {e}")

# Example usage
if __name__ == "__main__":
    webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8

In [1]:
!pip install pandas

In [2]:
import sqlite3
import pandas as pd

In [3]:
# Create a connection to a new SQLite database
conn = sqlite3.connect('example.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create a sample table
cursor.execute('''
CREATE TABLE WeatherData (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
)
''')

# Insert sample data into the table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

# Insert data into the table
cursor.executemany('INSERT INTO WeatherData VALUES (?, ?, ?, ?, ?)', data)

# Commit the changes
conn.commit()

In [4]:
# Query to get all temperature data
temperature_query = "SELECT Temperature FROM WeatherData;"
temperatures = pd.read_sql_query(temperature_query, conn)

# Display the results
print("All Temperature Data:")
print(temperatures)

All Temperature Data:
    Temperature
0          24.8
1          28.4
2          27.9
3          27.6
4           4.2
5           8.3
6          15.7
7          10.4
8          13.6
9          20.7
10         27.7
11         22.2

In [5]:
# Query to get all unique cities
cities_query = "SELECT DISTINCT City FROM WeatherData;"
cities = pd.read_sql_query(cities_query, conn)

# Display the results
print("\nAll Unique Cities:")
print(cities)

All Unique Cities:
     City
0  Mumbai
1  London
2   Cairo

In [6]:
# Query to get all records for India
india_query = "SELECT * FROM WeatherData WHERE Country = 'India';"
india_records = pd.read_sql_query(india_query, conn)

# Display the results
print("\nAll Records for India:")
print(india_records)

All Records for India:
     City Country  Season  Temperature  Rainfall
0  Mumbai   India  Winter         24.8       5.9
1  Mumbai   India  Spring         28.4      16.2
2  Mumbai   India  Summer         27.9    1549.4
3  Mumbai   India    Fall         27.6     346.0

In [7]:
# Query to get all records for Fall
fall_query = "SELECT * FROM WeatherData WHERE Season = 'Fall';"
fall_records = pd.read_sql_query(fall_query, conn)

# Display the results
print("\nAll Fall Records:")
print(fall_records)

All Fall Records:
     City         Country Season  Temperature  Rainfall
0  Mumbai           India   Fall         27.6     346.0
1  London  United Kingdom   Fall         10.4     218.5
2   Cairo           Egypt   Fall         22.2       4.5

In [8]:
conn.close()

# Question 9

In [22]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [23]:
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [24]:
lowercase_words = [word.lower() for word in words]
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [25]:
lengths = [len(word) for word in words]
print(lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [26]:
word_details = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_details)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [27]:
long_words = [word for word in words if len(word) >= 4]
print(long_words)

['quick', 'brown', 'jumps', 'over', 'lazy']